//variables
$black: #1d1d1f;
// variables

//common

html,
body {
  overflow-x: hidden;
  width: 100vw;
  font-family: 'Cormorant Garamond', YuGothic, serif;
}

.hero {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-image: url('https://images.unsplash.com/photo-1443397646383-16272048780e?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1867&q=80');
  background-size: cover;
  background-position: bottom;
}
